<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>产品系列</title>
	<link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/theme.css">
    
</head>
<body>
<!--header-->
<div class="header-wrapper">
    <div class="header-box">
        <div class="left-box">
            <a href="index.html" class="logo-box"><img src="img/02.png" alt=""/></a>
            <!--<i><img src="img/02.png" alt=""/></i>-->
            <a href="../index/index.html" class="logo-txt">艾真融科</a>
            <a href="../index/index.html">Afinit Technology</a>
        </div>
        <div class="right-box">
            <ul class="nav-wrapper" id="nav-wrapper">
                <li id="productList-slide"><a href="#">产品系列</a></li>
                <li><a href="../index/index.html">解决方案</a></li>
                <li><a href="#">最新动态</a></li>
                <li><a href="../aboutUs/index.html">关于我们</a></li>
                <li><a href="../contact/index.html">联系我们</a></li>
            </ul>
        </div>
    </div>
    <!-- 产品列表-->
    <div class="point" style="display: none"></div>
    <div class="productList-box" id="productList-box" style="display: none">
        <ul class="productList">
            <li>
                <p>策略艾真体</p>
            </li>
            <li><a href="#">云投资组合系统</a></li>
            <li><a href="#">客户投资组合系统</a></li>
            <li><a href="#">机构云投资组合系统</a></li>
        </ul>
        <ul class="productList">
            <li>
                <p>交易艾真体</p>
            </li>
            <li><a href="#">IA交易系统</a></li>
            <li><a href="#">虚拟IA交易系统</a></li>
            <li><a href="#">ITS估值系统</a></li>
            <li><a href="#">虚拟ITS估值系统</a></li>
            <li><a href="#"><a href="#">券商交易适配系统</a></a></li>
        </ul>
        <ul class="productList">
            <li>
                <p>账户管理艾真体</p>
            </li>
            <li><a href="#">账户管理系统</a></li>
            <li><a href="#">虚拟账户管理系统</a></li>
            <li><a href="#">资金管理规划系统</a></li>
            <li><a href="#">虚拟资金管理规划系统</a></li>
            <li><a href="#">机构基金投资管理系统</a></li>
        </ul>
        <ul class="productList">
            <li>
                <p>风险管理艾真体</p>
            </li>
            <li><a href="#">交易风险管理系统</a></li>
            <li><a href="#">虚拟交易风险管理系统</a></li>
            <li><a href="#">交易择机管理系统</a></li>
            <li><a href="#">虚拟交易择机管理系统</a></li>
            <li><a href="#">券商交易适配系统</a></li>
        </ul>
        <ul class="productList">
            <li>
                <p>经济学家艾真体</p>
            </li>
            <li><a href="#">宏观经济学家系统</a></li>
            <li><a href="#">中观经济学家系统</a></li>
            <li><a href="#">微观经济学家系统</a></li>
        </ul>
        <ul class="productList">
            <li>
                <p>监管科技艾真体</p>
            </li>
            <!--<li><a href="#">智能投顾账户监测系统</a></li>-->
            <li><a href="#">智能投顾业务合规报告系统</a></li>
            <li><a href="#">投资策略持续合规实时审核系统</a></li>
            <!--<li><a href="#">智能投顾算法评测系统</a></li>-->
        </ul>
    </div>
</div>
<!--banner-->
<div class="banner-wrapper">
   <div class="text-content">
        <p>云投资组合系统</p>
        <i>Cloud porftolio system</i>
   </div>
   <img class="big-img" src="img/img-positon.png">
</div>
<!--product-->
<div class="big-box">
<div class="content_left">
    <div class="left_nav">  
        <ul>
            <li>
                <div class="t img1"><i></i><a href="#">策略艾真体</a></div>
                <div class="txt" style="display: block;">
                    <p id="tab1"><a>云投资组合系统</a></p>
                    <p id="tab2"><a>客户投资组合系统</a></p>
                    <p id="tab3"><a>机构云投资组合系统</a></p>
                </div>
            </li>
            <li>
                <div class="t img2"><i></i><a href="#">交易艾真体</a></div>
                <div class="txt" style="display: block;">
                    <p id="tab4"><a>IA交易系统</a></p>
                    <p id="tab5"><a>虚拟IA交易系统</a></p>
                    <p id="tab6"><a>ITS估值系统</a></p>
                    <p id="tab7"><a>虚拟ITS估值系统</a></p>
                    <p id="tab8"><a>券商交易适配系统</a></p>
                </div>
            </li>
            <li>
                <div class="t img3"><i></i><a href="#">账户管理艾真体</a></div>
                <div class="txt" style="display: block;">
                    <p  id="tab9"><a>账户管理系统</a></p>
                    <p  id="tab10"><a>虚拟账户管理系统</a></p>
                    <p  id="tab11"><a>资金管理规划系统</a></p>
                    <p  id="tab12"><a>虚拟资金管理规划系统</a></p>
                    <p  id="tab13"><a>机构基金投资管理系统</a></p>
                </div>
            </li>
            <li>
                <div class="t img4"><i></i><a href="#">风险管理艾真体</a></div>
                <div class="txt" style="display: block;">
                    <p  id="tab14"><a>交易风险管理系统</a></p>
                    <p  id="tab15"><a>虚拟风险管理系统</a></p>
                    <p  id="tab16"><a>交易择机管理系统</a></p>
                    <p  id="tab17"><a>虚拟交易择机管理系统</a></p>
                </div>
            </li>
            <li>
                <div class="t img5"><i></i><a href="#">经济学家艾真体</a></div>
                <div class="txt" style="display: block;">
                    <p  id="tab18"><a>宏观经济学家系统</a></p>
                    <p  id="tab19"><a>中观经济学家系统</a></p>
                    <p  id="tab20"><a>微观经济学家系统</a></p>
                </div>
            </li>
            <li>
                <div class="t img6"><i></i><a href="#">监管科技艾真体</a></div>
                <div class="txt" style="display: block;">
                     <p  id="tab21"><a>智能投顾业务合规报告系统</a></p>
                     <p  id="tab22"><a>投资策略持续合规实时审核系统</a></p>
                </div>
            </li>    
        </ul> 
    </div>
</div>
<!--right-->
<div class="right-content" id="content">
    <section id="active-content" class="show content1">
        <h5><i></i>云投资组合系统</h5>
        <p>用户可以通过本系统获检索投资组合，查看组合详情，查看关于本组合的微投研报告；用户可以选中、收藏自己认为好的组合，以便长期关注该组合的运行。用户可以查看该组合的历史曲线。 策略艾真体服务基于传统分析、人工智能分析，采用机器学习、基于神经网络的深度学习等方式生产投资组合，借助hbase、hive、hdfs等大数据技术体系进行数据存储与服务。
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 投资组合</span>
                <i>根据投资范围内的标的资产（比如所有a股股票），并通过人工智能的方式生成投资组合。</i>
            </li>
            <li>
                <span>• 业绩报告</span>
                <i>每日净值曲线、单位净值、资产总值、浮动盈亏等；</i>
            </li>
            <li>
                <span>• 投研报告</span>
                <i style="margin-top:1%; "> 技术参数、统计参数和频谱特征 比如 移动平均线（SMA）、平滑异同移动平均线（MACD）、标准差度量（std）、能量互信息等；</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 收藏</span>
                <i> 收藏个人看好的投资组合以便长期跟踪；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>
                <!-- <span>• 客户</span> -->
               金融机构、券商、基金公司
            </li>
            <li>
               <!--  <span>• 生产投资组合</span> -->
               根据最新行情同步生产投资组合
            </li>
            <li style="border-bottom: none;">
               <!--  <span>• 分析投资组合</span> -->
                每日估值、投研分析报告
            </li>
        </ul>
    </section> 
    <section id="content2" class="hide content1">
         <h5><i></i>客户投资组合系统</h5>
        <p>客户端策略系统可以将投资策略存储到客户服务器，客户可以自行任意使用该投资组合，比如进行程序的二次研发；系统功能有查看组合详情，查看关于本组合的微投研报告，查看该组合的历史曲线。 策略艾真体服务基于传统分析、人工智能分析，采用机器学习，基于神经网络的深度学习等方式生产投资组合，借助hbase、hive、hdfs等大数据技术体系进行数据存储与服务。</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 投资组合</span>
                <i>根据投资范围内的标的资产（比如所有a股股票），并通过人工智能的方式生成投资组合。</i>
            </li>
            <li>
                <span>• 业绩报告</span>
                <i>每日净值曲线、单位净值、资产总值、浮动盈亏等；</i>
            </li>
            <li>
                <span>• 投研报告</span>
                <i style="margin-top:1%; ">  技术参数、统计参数和频谱特征 比如 移动平均线（SMA）、平滑异同移动平均线（MACD）、标准差度量（std）、能量互信息等；</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 收藏</span>
                <i>收藏个人看好的投资组合以便长期跟踪；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>
                <!-- <span>• 客户</span> -->
               金融机构、券商、基金公司
            </li>
            <li>
                <!-- <span>• 生产投资组合</span> -->
                根据最新行情同步生产投资组合
            </li>
            <li style="border-bottom: none;">
               <!--  <span>• 分析投资组合</span> -->
                每日估值、投研分析报告
            </li>
        </ul>
    </section>
     <section id="content3" class="hide content1">
     <h5><i></i>机构投资组合系统</h5>
        <p>我们系统完全部署在机构私有云计算体系中，用户可以根据本系统自由使用投资组合；系统功能有查看组合详情，查看关于本组合的微投研报告，查看该组合的历史曲线。策略艾真体服务基于传统分析、人工智能分析，采用机器学习，基于神经网络的深度学习等方式生产投资组合，借助hbase、hive、hdfs等大数据技术体系进行数据存储与服务。</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 投资组合</span>
                <i>根据投资范围内的标的资产（比如所有a股股票），并通过人工智能的方式生成投资组合。</i>
            </li>
            <li>
                <span>• 业绩报告</span>
                <i>每日净值曲线、单位净值、资产总值、浮动盈亏等；</i>
            </li>
            <li>
                <span>• 投研报告</span>
                <i style="margin-top:1%; "> 技术参数、统计参数和频谱特征 比如 移动平均线（SMA）、平滑异同移动平均线（MACD）、标准差度量（std）、能量互信息等；</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 收藏</span>
                <i>收藏个人看好的投资组合以便长期跟踪；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>大型金融机构、券商、基金公司</li>
            <li>根据最新行情同步生产投资组合</li>
            <li style="border-bottom: none;">每日估值、投研分析报告</li>
        </ul>
    </section>
    <section id="content4" class="hide content1" style="padding-bottom: 180px; ">
     <h5><i></i>

IA交易系统
</h5>
        <p>从投资组合被确认投资后，我们系统即开始对该投资组合生命周期进行管理。系统主要以API的形式对外提供服务。系统可以接收外部发送的建仓、调仓、平仓等请求，接到该请求后会发往券商交易系统。此处所说的外部系统，可以是我公司其他关联产品系统，也可以是客户IT体系内其他系统；根据投资组合自身的投资周期属性，到期时自动发起平仓操作。</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>

• 接收投资组合</span>
                <i>外部系统通过接口方式将投资组合按照特定报文格式传输到本系统。</i>
            </li>
            <li>
                <span>

• 接收交易指令</span>
                <i>外部系统通过接口发送建仓、调仓、平仓等交易指令；</i>
            </li>
           
            <li style="border-bottom: none;">
                <span>• 管理投资组合</span>
                <i>管理投资组合生命周期、自主处理到期的投资组合；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li style="border-bottom: none;">受理交易指令并管理投资组合生命周期</li>
        </ul>
    </section>
    <section id="content5" class="hide content1">
     <h5><i></i>虚拟IA交易系统</h5>
        <p> 投资组合被确认投资后，我们系统即开始对该投资组合生命周期进行管理。系统主要以API的形式对外提供服务。系统可以接收外部发送的建仓、调仓、平仓等请求，接到该请求后会发往券商交易系统。此处所说的外部系统，可以是我公司其他关联产品系统，也可以是客户IT体系内其他系统；根据投资组合自身的投资周期属性，到期时自动发起平仓操作。</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 接收投资组合</span>
                <i> 外部系统通过接口方式将投资组合按照特定报文格式传输到本系统。</i>
            </li>
            <li>
                <span>• 接收交易指令</span>
                <i>外部系统通过接口发送建仓、调仓、平仓等交易指令；</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 管理投资组合</span>
                <i>  管理投资组合生命周期、自主处理到期的投资组合；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li>受理交易指令并管理投资组合生命周期</li>
            <li style="border-bottom: none;">支持虚拟投资场景</li>
        </ul>
    </section>
    <section id="content6" class="hide content1">
     <h5><i></i>ITS估值系统</h5>
        <p>从我们系统反应投资组合实时资金分配、账户资产价值、浮动损益、交易记录、收盘清算等数据。系统主要是提供接口服务，我们公司会给出明确的API文档，供有实力的用户在此基础上进行二次研发，或者与我公司其他系统配合使用。 系统基于java技术体系，按照springCloud推崇的微服务、云服务技术理念进行研发；支持大规模系统集群、水平扩展。</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>•  投资组合估值</span>
                <i> 资产总值、资产价值、当日估值增值、单位净值、完成收益等;</i>
            </li>
            <li>
                <span>• 证券估值</span>
                <i> 数量、成本价、浮动盈亏等 ;</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 接口服务</span>
                <i> 估值API接口、系统集群、交易数据接口；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li>提供估值API</li>
            <li style="border-bottom: none;">每日收盘后估值数据，盘中实时估值，对账数据</li>
        </ul>
    </section>
    <section id="content7" class="hide content1">
     <h5><i></i>虚拟ITS估值系统</h5>
        <p> 我们系统反应投资组合实时资金分配、账户资产价值、浮动损益、交易记录、收盘清算等数据。系统主要是提供接口服务，我们公司会给出明确的API文档，供有实力的用户在此基础上进行二次研发，或者与我公司其他系统配合使用。 系统基于java技术体系，按照springCloud推崇的微服务、云服务技术理念进行研发；支持大规模系统集群、水平扩展。</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 投资组合估值</span>
                <i>资产总值、资产价值、当日估值增值、单位净值、完成收益等;</i>
            </li>
            <li>
                <span>• 证券估值</span>
                <i>  数量、成本价、浮动盈亏等 ;</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 接口服务</span>
                <i> 估值API接口、系统集群、交易数据接口；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li>提供估值API</li>
            <li>每日收盘后估值数据，盘中实时估值，对账数据</li>
            <li style="border-bottom: none;">支持虚拟投资场景</li>
        </ul>
    </section>
     <section id="content8" class="hide content1" style="padding-bottom: 180px; ">
     <h5><i></i>券商交易适配系统</h5>
        <p> 我们系统主要负责与券商的系统进行接口交互对接、接口协议适配等；系统主要以API形式为对外提供服务。当其他系统（可以是我单位的其他系统或客户方的系统）需要对股票进行建仓、平仓、指令查询等操作时，可以方便的使用我系统进行适配，完成用户操作意愿。
       </p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 资金账户管理 </span>
                <i>绑定资金账户、解绑资金账户；</i>
            </li>
            <li>
                <span>• 交易接口适配</span>
                <i>  委托下单、查询交易数据、查询资金数据等;</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 清算文件接口</span>
                <i> 上交所、深交所等清算文件;</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li style="border-bottom: none;">提供估值API</li>
        </ul>
    </section>
    <section id="content9" class="hide content1">
     <h5><i></i>账户管理系统</h5>
        <p> 

我们系统为使用者提供交互界面。使用者可以检索、查看投资策略，可以指定投资金额、确认投资；可以查看运行中投资策略的运行状态、持仓详情、交易记录等；可以手动提前终止投资策略。该系统基于java技术体系，按照springCloud推崇的微服务、云服务技术理念进行研发。支持大规模系统集群、水平扩展。

       </p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 账户管理</span>
                <i>绑定账户；</i>
            </li>
            <li>
                <span>• 账户资金管理</span>
                <i>   资金查询、资金分配、资金监控等；</i>
            </li>
            <li>
                <span>• 账户交易 </span>
                <i>  查看交易流水；</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 投资组合管理</span>
                <i> 创建投资组合、查看详情、运作状态（未运行、运行中、到期）等；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司、个人</li>
            <li style="border-bottom: none;">为使用者提供交易界面</li>
        </ul>
    </section>
       <section id="content10" class="hide content1">
     <h5><i></i>虚拟账户管理系统</h5>
        <p>我们系统为使用者提供交互界面。使用者可以检索、查看投资策略，可以指定投资金额、确认投资；可以查看运行中投资策略的运行状态、持仓详情、交易记录等；可以手动提前终止投资策略。该系统基于java技术体系，按照springCloud推崇的微服务、云服务技术理念进行研发。支持大规模系统集群、水平扩展。</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 账户管理</span>
                <i>绑定账户；</i>
            </li>
            <li>
                <span>• 账户资金管理</span>
                <i>   资金查询、资金分配、资金监控等；</i>
            </li>
            <li>
                <span>• 账户交易 </span>
                <i>  查看交易流水；</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 投资组合管理</span>
                <i> 创建投资组合、查看详情、运作状态（未运行、运行中、到期）等；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司、个人</li>
            <li>为使用者提供交易界面</li>
            <li style="border-bottom: none;">支持虚拟投资场景</li>
        </ul>
    </section>
           <section id="content11" class="hide content1">
     <h5><i></i>

资金管理规划系统
</h5>
        <p>主要受理用户较大资金、较长周期的理财规划。用户无需太多操作，也不用在海量投资组合中进行甄别、选择，只要输入投资金额、投资期限、期望收益、承担风险等信息，我们系统就会自动为用户选择投资策略，分配资金，调整仓位。每一组投资策略都有固定期限，当一批投资策略到期后，系统会根据当前投资的收益状态，选择第二批、第三批等投资策略。</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 投资请求</span>
                <i>用户设置投资参数（金额、期限、预期收益率、风险阈值）。</i>
            </li>
            <li>
                <span>• 资金规划</span>
                <i>   长期（一个月以上）为用户规划投资策略、管理仓位；</i>
            </li>
            <li>
                <span>• 风险监控</span>
                <i>  投资组合期限监控、收益监控、资金仓位监控；</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 报表</span>
                <i> 收益报表、交易数据报、现金流报表；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li style="border-bottom: none;">长期投资规划</li>
        </ul>
    </section>
           <section id="content12" class="hide content1">
     <h5><i></i>

虚拟资金管理规划系统
</h5>
        <p>主要受理用户较大资金、较长周期的理财规划。用户无需太多操作，也不用在海量投资组合中进行甄别、选择，只要输入投资金额、投资期限、期望收益、承担风险等信息，我们系统就会自动为用户选择投资策略，分配资金，调整仓位。每一组投资策略都有固定期限，当一批投资策略到期后，系统会根据当前投资的收益状态，选择第二批、第三批等投资策略。</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 投资请求</span>
                <i>用户设置投资参数（金额、期限、预期收益率、风险阈值）。</i>
            </li>
            <li>
                <span>• 资金规划</span>
                <i>   长期（一个月以上）为用户规划投资策略、管理仓位；</i>
            </li>
            <li>
                <span>• 风险监控</span>
                <i>  投资组合期限监控、收益监控、资金仓位监控；</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 报表</span>
                <i> 收益报表、交易数据报、现金流报表；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li>长期投资规划</li>
            <li style="border-bottom: none;">支持虚拟投资场景</li>
        </ul>
    </section>
             <section id="content13" class="hide content1">
     <h5><i></i>机构基金投资管理系统</h5>
        <p>

对每个机构账户进行管理的艾真体。主要完成每日估值、资金分配计算、账户损益的计算等。我们系统主要面向券商、银行等投资机构，服务于机构的特定基金产品。本系统从分配投资组合、智能交易、风险管理、后台估值核算、对账一站式服务。
</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 投资组合指标</span>
                <i> 根据投资范围内的标的资产（比如所有a股股票），并通过人工智能的方式生成投资组合。</i>
            </li>
            <li>
                <span>• 推送投资组合</span>
                <i>   每日净值曲线、单位净值、资产总值、浮动盈亏等；</i>
            </li>
            <li>
                <span>• 智能交易</span>
                <i>  链接智能IA交易系统获取交易指令:调仓、建仓、平仓等；</i>
            </li>
            <li>
                <span>• 风控</span>
                <i> 基金收益监控、基金资金仓位控制、投资组合收益监控、投资组合期限监控等；</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 报表</span>
                <i> 估值报表、现金流报表等</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li style="border-bottom: none;">基金管理、投资、估值核算</li>
        </ul>
    </section>
                 <section id="content14" class="hide content1">
     <h5><i></i>

交易风险管理系统
</h5>
        <p>

本系统主要实现对投资组合的风险管理。该系统主要以API的形式对外提供服务。 外部系统（可以是我单位的其他系统或客户方的系统）通过接口的形式将投资组合、当前持仓等信息输入到本系统，本系统根据实时行情，采用基于机器学习的算法，评判该投资组合的风险，对投资组合整体或部分股票给出平仓或继续持有的建议。客户也可以设定硬性指标（比如止盈线、止损线等），约束本系统的行动。
</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 固定风险算法管理</span>
                <i> 将本系统的风险管理函数以相对固定的形式进行配置；</i>
            </li>
            <li>
                <span>• 实时风险参数更新</span>
                <i>   本系统内置机器学习子系统，实时调整风险参数，并使参数生效；</i>
            </li>
            <li>
                <span>• 行情监控 </span>
                <i>  本系统对行情进行实时监控，控制投资组合仓位等；</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 监控数据</span>
                <i>  收益监控、风险监控、投资组合期限监控；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li style="border-bottom: none;">实现对投资组合的风险管理</li>
        </ul>
    </section>
     <section id="content15" class="hide content1">
     <h5><i></i>虚拟交易风险管理系统</h5>
       <p>

本系统主要实现对投资组合的风险管理。该系统主要以API的形式对外提供服务。 外部系统（可以是我单位的其他系统或客户方的系统）通过接口的形式将投资组合、当前持仓等信息输入到本系统，本系统根据实时行情，采用基于机器学习的算法，评判该投资组合的风险，对投资组合整体或部分股票给出平仓或继续持有的建议。客户也可以设定硬性指标（比如止盈线、止损线等），约束本系统的行动。
</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 固定风险算法管理</span>
                <i> 将本系统的风险管理函数以相对固定的形式进行配置；</i>
            </li>
            <li>
                <span>• 实时风险参数更新</span>
                <i>   本系统内置机器学习子系统，实时调整风险参数，并使参数生效；</i>
            </li>
            <li>
                <span>• 行情监控 </span>
                <i>  本系统对行情进行实时监控，控制投资组合仓位等；</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 监控数据</span>
                <i>  收益监控、风险监控、投资组合期限监控；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li>实现对投资组合的风险管理</li>
            <li style="border-bottom: none;">支持虚拟投资场景</li>
        </ul>
    </section>
         <section id="content16" class="hide content1" style="padding-bottom: 100px; ">
     <h5><i></i>

交易择机管理系统
</h5>
       <p>
本系统主要实现对投资组合的交易择机、择时进行管理。该系统主要以API的形式对外提供服务。其他系统（可以是我单位的其他系统或客户方的系统）通过接口的形式将投资组合、可用金额、当前持仓等信息输入到本系统，本系统根据实时行情，采用基于机器学习的算法，对投资组合整体或部分股票给出建仓、观望、平仓的建议。

</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 静态择机函数维护</span>
                <i> 系统支持部分相对固定择机函数，这些函数通过配置的方式预制到系统里；</i>
            </li>
            <li>
                <span>• 动态择机函数维护</span>
                <i> 系统内置机器学习子系统，根据行情实时计算并生成择机函数，并将函数投入使用；</i>
            </li>
            <li>
                <span>• 接收投资组合数据</span>
                <i> 本系统以接口形式从外部系统接收投资组合数据（股票组合、资金、当前持仓情况等）</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 发起交易建议</span>
                <i>  系统根据择机函数，适时给出择机建议，并以接口形式发送给关联系统；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li style="border-bottom: none;">根据交易函数、实时行情、投资组合数据，给出交易建议</li>
        </ul>
    </section>
             <section id="content17" class="hide content1">
     <h5><i></i>
虚拟交易择机管理系统
</h5>
       <p>


本系统主要实现对投资组合的交易择机、择时进行管理。该系统主要以API的形式对外提供服务。其他系统（可以是我单位的其他系统或客户方的系统）通过接口的形式将投资组合、可用金额、当前持仓等信息输入到本系统，本系统根据实时行情，采用基于机器学习的算法，对投资组合整体或部分股票给出建仓、观望、平仓的建议。

</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 静态择机函数维护</span>
                <i> 系统支持部分相对固定择机函数，这些函数通过配置的方式预制到系统里；</i>
            </li>
            <li>
                <span>• 动态择机函数维护</span>
                <i> 系统内置机器学习子系统，根据行情实时计算并生成择机函数，并将函数投入使用；</i>
            </li>
            <li>
                <span>• 接收投资组合数据</span>
                <i> 本系统以接口形式从外部系统接收投资组合数据（股票组合、资金、当前持仓情况等）</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 发起交易建议</span>
                <i>  系统根据择机函数，适时给出择机建议，并以接口形式发送给关联系统；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li>根据交易函数、实时行情、投资组合数据，给出交易建议</li>
            <li style="border-bottom: none;">支持虚拟投资场景</li>
        </ul>
    </section>
                <section id="content18" class="hide content1" style="padding-bottom: 180px; ">
     <h5><i></i>宏观经济学家系统</h5>
       <p>
我们系统主要对宏观经济进行分析，输出宏观经济数据。 系统主动通过互联网爬虫的形式获外部数据，将分析结论以特定报文规范写入输出文件，供外部系统使用。 系统根据采集的国家重点经济政策数据、一般生产资料统计数据、金融物价统计数据、贸易统计数据、国民收入统计与景气动向数据、突发性非经济因素等数据，基于人工智能的方式，给出宏观经济分析结论。
</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 数据抓取</span>
                <i> 通过互联网爬虫的形式获取宏观经济数据；</i>
            </li>
            <li>
                <span>• 数据录入 </span>
                <i> 部分数据，互联网数据不稳定或不易提炼，因此可以支持操作员手工录入；</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 数据分析</span>
                <i> 采用传统与机器学习相结合的方式对宏观经济进行分析，并按照特定报文，给出分析结论；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li style="border-bottom: none;">提供宏观经济分析参考</li>
        </ul>
    </section>
                    <section id="content19" class="hide content1" style="padding-bottom: 180px; ">
     <h5><i></i>

中观经济学家系统
</h5>
       <p>
我们系统主要对行业中观经济进行分析，输出中观经济数据。  系统主动通过互联网爬虫的形式获外部数据，将分析结论以特定报文规范写入输出文件，供外部系统使用。 系统根据采集数据，对行业的市场结构、竞争结构、行业与市场周期、行业本身生命周期，行业景气指数等进行分析，并结合人工智能的技术分析手段，给出中观经济分析结论。

</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 数据抓取</span>
                <i> 通过互联网爬虫的形式获取中观经济数据</i>
            </li>
            <li>
                <span>• 数据录入 </span>
                <i> 部分数据，互联网数据不稳定或不易提炼，因此可以支持操作员手工录入；</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 数据分析</span>
                <i> 采用传统与机器学习相结合的方式对宏观经济进行分析，并按照特定报文，给出分析结论；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li style="border-bottom: none;">提供中观分析参考</li>
        </ul>
    </section>
    <section id="content20" class="hide content1">
     <h5><i></i>
微观经济学家系统

</h5>
       <p>
我们系统主要对具体上市公司公司信息进行分析，输出微观经济数据。 系统主动通过互联网爬虫的形式获外部数据，将分析结论以特定报文规范写入输出文件，供外部系统使用。  系统对公司的行业地位、公司产品竞争能力、公司盈利能力和公司成长能力、公司偿债能力、公司财务报表、公司财务比率等信息进行分析，包括采用传统方式，以及人工智能的方式。最终给出结论，以特定报文输出。

</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 数据抓取</span>
                <i> 通过互联网爬虫的形式获取微观经济数据</i>
            </li>
            <li>
                <span>• 静态分析指标维护 </span>
                <i> 一些经典分析指标，可以通过配置的方式输入本系统；</i>
            </li>
             <li>
                <span>• 机器学习</span>
                <i> 借助经典分析指标，并采用机器学习自有方式进行分析；</i>
            </li>
            <li style="border-bottom: none;">
                <span>• 微观经济报告</span>
                <i> 按特定形式输出微观经济报告；</i>
            </li>
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li style="border-bottom: none;">提供微观经济报告参考</li>
        </ul>
    </section>
     <section id="content21" class="hide content1" style="padding-bottom: 180px; ">
     <h5><i></i>
智能投顾业务合规报告系统

</h5>
       <p>
人工智能投顾策略，如果运用不当，易引起股市的趋同效应。我们系统即对智能投顾交易进行评测，给出合规、有风险倾向、有明显风险等报告数据。系统通过数据采集接口，获取连续多日的智能投资策略的建仓、调仓、平仓等信息；并通过第三方行情系统，获取行情交易数据。系统通过分析当日、5日、10日等数据，给出自身机构的交易趋同度、自身机构交易与整个行情交易的资金占比等信息，判断是否对股票市场造成冲击，并别给合规、有风险倾向、有明显风险等报告数据。

</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 获取交易数据</span>
                <i> 通过数据接口获取智能投顾交易数据；</i>
            </li>
            <li>
                <span>• 分析交易数据 </span>
                <i>  分析1日或多日交易数据趋同度，及对市场影响等；</i>
            </li>
             <li style="border-bottom: none;">
                <span>• 审核意见</span>
                <i>  以图形界面或接口的形式，给出审核报告；</i>
            </li>
           
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li style="border-bottom: none;">

当日收盘后，对智能投顾交易监控并生成合规报告
</li>
        </ul>
    </section>
     <section id="content22" class="hide content1" style="padding-bottom: 180px; ">
     <h5><i></i>
投资策略持续合规实时审核系统
</h5>
       <p>


人工智能投顾策略，如果运用不当，易引起股市的趋同效应。我们系统即对智能投顾交易进行持续、实时监管，及时给出预警或控制，避免对股票市场造成风险。系统通过数据采集接口，获取智能投资策略的建仓、调仓、平仓等信息；通过第三方行情系统，获取行情交易数据。系统通过分析自身机构的交易趋同度、自身机构交易与整个行情交易的资金占比等信息，判断是否对股票市场造成冲击，并别给出无影响、警示或控制等建议。


</p>
        <h5><i></i>功能列表</h5>
        <ul class="content-list">
            <li>
                <span>• 接收交易数据</span>
                <i> 通过数据接口获取智能投顾交易数据。</i>
            </li>
            <li>
                <span>• 实时分析交易数据 </span>
                <i> 实时分析交易数据趋同度，对市场影响等指标；</i>
            </li>
             <li style="border-bottom: none;">
                <span>• 审核意见</span>
                <i> 以图形界面或接口的形式，给出审核意见；或对交易指令进行拦截以避免违规；</i>
            </li>
           
        </ul>
        <h5><i></i>应用场景</h5>
        <ul class="content-list1">
            <li>金融机构、券商、基金公司</li>
            <li style="border-bottom: none;">对智能投顾进行持续的、实时的交易监控</li>
        </ul>
    </section>
</div>
</div>
<!--footer-->
<div class="footer-wrapper">
    <div class="footer-box">
   <!-- 产品-->
        <ul>
            <li><p>产品系列</p></li>
            <li><a href="../product/index.html">策略艾真体</a></li>
            <li><a href="../product/index.html">交易艾真体</a></li>
            <li><a href="../product/index.html">账户艾真体</a></li>
            <li><a href="../product/index.html">风险管理艾真体</a></li>
            <li><a href="../product/index.html">经济学家艾真体</a></li>
            <li><a href="../product/index.html">监管科技艾真体</a></li>
        </ul>
        <!--解决方案-->
        <ul>
            <li><p>解决方案</p></li>
            <li><a href="#solutionList">智能投研</a></li>
            <li><a href="#solutionList">智能投资</a></li>
            <li><a href="#solutionList">智能投顾</a></li>
            <li><a href="#solutionList">智能监管</a></li>
        </ul>
        <!--关于我们-->
        <ul>
            <li><p>关于我们</p></li>
            <li><a href="../aboutUs/index.html">首页</a></li>
            <li><a href="../aboutUs/index.html">关于我们</a></li>
            <li><a href="#">合作伙伴</a></li>
            <li><a href="../contact/index.html">联系我们</a></li>
        </ul>
        <!-- 联系方式-->
        <ul>
            <li>
                <p>
                    <i id="weixin">
                        <img src="img/19.png" alt="" class="weixin-no"/>
                        <img src="img/23.png" alt="" class="weixin-active"/>
                    </i>
                    <i id="weibo">
                        <img src="img/20.png" alt="" class="weibo-no"/>
                        <img src="img/24.png" alt="" class="weibo-active"/>
                    </i>
                    <a href="###" id="erweima"><img src="img/2ma.jpg" alt=""/></a>
                </p>
            </li>
            <li>电话：</li>
            <li>010-85875500-8878</li>
            <li>邮箱：</li>
            <li>help@zipeiyi.com</li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>
            <i><img src="img/100.png" alt=""/></i>
            <a href="###">艾真融科</a>
            <a href="###">Afinit Technology</a>
        </p>
        <span>2018&copy;北京艾真融科技术有限公司京ICP备</span>
    </div>
</div>
<!--回到顶部-->
<div class="backTop" id="backTop">
    <img src="img/25.png" alt=""/>
</div>
</body>
<script charset="utf-8" type="text/javascript" src="js/jquery.js"></script>
<script src="../index/js/index.js"></script>
<!-- <script charset="utf-8" type="text/javascript" src="js/theme.js"></script> -->
<script type="text/javascript">
	/**
 * 根据参数名，获取http请求的参数值
 */
 
var getParameter = function (name){
    var paramStr=window.location.search;
    alert(paramStr);
    if(paramStr.length==0)return null;
    if(paramStr.charAt(0)!='?')return null;
    paramStr=unescape(paramStr);
    paramStr=paramStr.substring(1);
    if(paramStr.length==0)return null;
    var params=paramStr.split('&');
    var p = null;
    var lenParams  =  params.length;
    for(var i=0;i<lenParams;i++){
        if(params[i].indexOf(name) >= 0){
            p = params[i].split('=');
            p = p[1];
            break;
        }
    }
    paramStr = null;
    params = null;
    return p;
};


alert("ddd");
 alert(getParameter('chanpinId'));


 $(".left_nav p").each(function(i){
     var ii = i;
     $(this).click(function(){
         tabClick(ii+1,this);

     });
 });


 function tabClick(index,_this){

     $("#content section").removeClass("show").addClass("hide");
     $("#content5").removeClass("hide").addClass("show");
     $(_this).attr('href','#content'+index);
     $(_this).parents().find('a').removeClass('active-tab');
     $(_this).addClass('active-tab');
 }
 // undefined


   // var aa = aa.substring
//  $('#nav-wrapper li a').hover(function(){
//         $(this).css('color','#1ca6fc')
//     },function(){
//         $(this).css('color','#ffffff')
//     });
//  /*产品列表*/
//   $('#productList').hover(function(){
//         $('.point').slideToggle()
//         $('#productList-box').slideToggle()
//     })
//  /*折叠菜单*/
//  $('.inactive').click(function(){
//     var className=$(this).parents('li').parents().attr('class');
//     if($(this).siblings('ul').css('display')=='none'){
//         if(className=="yiji"){
//             $(this).parents('li').siblings('li').children('ul').parent('li').children('a').removeClass('inactives');
//             $(this).parents('li').siblings('li').children('ul').slideUp(100);
//         }
//         $(this).addClass('inactives');
//         $(this).siblings('ul').slideDown(100).children('li');
//     }else {
//         $(this).removeClass('inactives');
//         $(this).siblings('ul').slideUp(100);
//     }
// })
//  //微锟斤拷锟斤拷色
//     $('#weibo').hover(function(){
//         $('.weibo-active').show();
//         $('.weibo-no').hide();
//     },function(){
//         $('.weibo-active').hide();
//         $('.weibo-no').show();
//     })
//     //微锟脚憋拷色
//     $('#weixin').hover(function(){
//         $('.weixin-active').show();
//         $('.weixin-no').hide();
//         $('#erweima').show()
//     },function(){
//         $('.weixin-active').hide();
//         $('.weixin-no').show();
//         $('#erweima').hide()
//     })

// //    锟截碉拷锟斤拷锟斤拷
//     $(window).scroll(function () {
//         if ($(window).scrollTop() >= 500) {
//             $('#backTop').fadeIn();
//         }
//         else {
//             $('#backTop').fadeOut();
//         }
//     });

//     $('#backTop').click(function () {
//         $('html,body').animate({ scrollTop: 0 }, 500);
//     });
 /*产品详情*/
// $('.txt p a').click(function() {
//     var aCtive = document.getElementById("active1");
//     var oName = aCtive.getAttribute("data-leaves");
//     $(this).attr('href','#'+oName);         
// });

/** $('#tab1 a').click(function() {
    $(this).attr('href','#active-content');   
    $(this).parents().find('a').removeClass('active-tab');  
    $(this).addClass('active-tab');        
});
$('#tab2 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content2").removeClass("hide").addClass("show");
    $(this).attr('href','#content2'); 
    $(this).parents().find('a').removeClass('active-tab');  
    $(this).addClass('active-tab');  
    
});
$('#tab3 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content3").removeClass("hide").addClass("show");
    $(this).attr('href','#content3');   
    $(this).parents().find('a').removeClass('active-tab');   
    $(this).addClass('active-tab'); 
             
});
$('#tab4 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content4").removeClass("hide").addClass("show");
    $(this).attr('href','#content4'); 
     $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');            
});
$('#tab5 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content5").removeClass("hide").addClass("show");
    $(this).attr('href','#content5');   
    $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');             
});
$('#tab6 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content6").removeClass("hide").addClass("show");
    $(this).attr('href','#content6');  
    $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');               
});
$('#tab7 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content7").removeClass("hide").addClass("show");
    $(this).attr('href','#content7');  
    $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');             
});
$('#tab8 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content8").removeClass("hide").addClass("show");
    $(this).attr('href','#content8');  
    $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');                
});
$('#tab9 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content9").removeClass("hide").addClass("show");
    $(this).attr('href','#content9');  
    $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');               
});
$('#tab10 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content10").removeClass("hide").addClass("show");
    $(this).attr('href','#content10');  
   $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');               
});
$('#tab11 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content11").removeClass("hide").addClass("show");
    $(this).attr('href','#content11');  
   $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');              
});
$('#tab12 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content12").removeClass("hide").addClass("show");
    $(this).attr('href','#content12');   
   $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');           
});
$('#tab13 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content13").removeClass("hide").addClass("show");
    $(this).attr('href','#content13');   
    $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');            
});

$('#tab14 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content14").removeClass("hide").addClass("show");
    $(this).attr('href','#content14');  
    $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');             
});
$('#tab15 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content15").removeClass("hide").addClass("show");
    $(this).attr('href','#content15');  
   $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');              
});
$('#tab16 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content16").removeClass("hide").addClass("show");
    $(this).attr('href','#content16'); 
   $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');               
});
$('#tab17 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content17").removeClass("hide").addClass("show");
    $(this).attr('href','#content17'); 
   $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');              
});
$('#tab18 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content18").removeClass("hide").addClass("show");
    $(this).attr('href','#content18');   
    $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');            
});
$('#tab19 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content19").removeClass("hide").addClass("show");
    $(this).attr('href','#content19');   
    $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');          
});
$('#tab20 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content20").removeClass("hide").addClass("show");
    $(this).attr('href','#content20');   
   $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');            
});
$('#tab21 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content21").removeClass("hide").addClass("show");
    $(this).attr('href','#content21');   
   $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');            
});
$('#tab22 a').click(function() {
    $("#content section").removeClass("show").addClass("hide");
    $("#content22").removeClass("hide").addClass("show");
    $(this).attr('href','#content22');   
    $(this).parents().find('a').removeClass('active-tab');     
    $(this).addClass('active-tab');            
}); */

</script>
</html>