<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">

    <title>奇迹</title>

    <link th:href="@{css/style.default.css}" rel="stylesheet">
    <link rel='stylesheet' href="../../../statics/css_jquery_mobile/pubCss.css" th:href="@{/css_jquery_mobile/pubCss.css}" type='text/css'></link>
    <link rel='stylesheet' href="../../../statics/css_jquery_mobile/iconfont2.css" th:href="@{/css_jquery_mobile/iconfont2.css}" type='text/css'></link>
    <link rel="stylesheet" href="../../../statics/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" type="text/css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

    <![endif]-->
</head>

<body class="fixed">


<section>

    <div class="main-context">

        <div class="homePage_div">

            <div class="searchBar"></div>
            <div  class="main_context_iphone">
                <div class="swiper-container"></div>
            </div>
        </div>
        <div class="multiMedia_div">
            <div class="mulMedia_header">
                <ul>
                    <li><a>下载</a></li>
                    <li><a>历史</a></li>
                    <li><a>已购</a></li>
                    <li><a>喜欢</a></li>
                </ul>
            </div>

        </div>
        <div class="information_div"> 信息</div>
        <div class="myself_div"> 我的</div>
    </div>

    <div class="footer"> </div>
</section>



<script th:src="@{js/jquery/jquery-1.11.1.min.js}"></script>
<script th:src="@{js/jquery/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{js/jquery/bootstrap.min.js}"></script>
<script th:src="@{js/jquery/modernizr.min.js}"></script>
<script th:src="@{js/jquery/jquery.sparkline.min.js}"></script>
<script th:src="@{js/jquery/toggles.min.js}"></script>
<script th:src="@{js/jquery/retina.min.js}"></script>
<script th:src="@{js/jquery/jquery.cookies.js}"></script>
<script type="text/javascript" src="../../../statics/js/jquery-mobile/jquery.mobile-1.4.5.js" th:src="@{/js/jquery-mobile/jquery.mobile-1.4.5.js}"></script>
<script type="text/javascript" src="../../../statics/js/js_pub/wz_util.js" th:src="@{/js/js_pub/wz_util.js}"></script>
<script type="text/javascript" src='../../../statics/js/js_view/framework/main-pub.js' th:src="@{/js/js_view/framework/main-pub.js}" > </script>



<script src="js/custom.js"></script>

</body>
</html>
